<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/auth" class="site_title"><i class="fa fa-paw"></i> <span> SHS_Classifier!</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="/assets/images/img.jpg" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2 *ngIf="currentUser">{{currentUser.first_name}} {{currentUser.last_name}}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li>
            <a routerLink="/auth"><i class="fa fa-home"></i> Home</a>
          </li>
          <li><a><i class="fa fa-user"></i> Students <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="/auth/list/pending"> Pending Enrollees </a></li>
              <li><a routerLink="/auth/list/enrolled"> Enrolled Students</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-user"></i> Profile <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink=""> Students </a></li>
              <li><a routerLink=""> Admin </a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-user"></i> Account <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="/auth/create-account"> Create </a></li>
              <li><a routerLink=""> View </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>