<app-guess-nav></app-guess-nav>
<div class="custom-container">
  <form (submit)="submit()" class="needs-validation form-horizontal" novalidate [formGroup]="form">
    <div class="row">
      <div class="col-sm-12">
      </div>
      <div class="col-sm-12">
        <div class="row">
          <span>
            <br>
            <br>
          </span>
        </div>
      </div>
      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Learner Reference No.</label>
                <input type="text" class="form-control" formControlName="lrn_input" placeholder="Learner Reference Number" >
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <label class="head-label">Name</label>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="studfname_input" placeholder="First name">
            <label>First Name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="studlname_input" placeholder="Last name">
            <label>Last Name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="studmname_input" placeholder="Middle name">
            <label>Middle Name</label>
          </div>
        </div>
  
        <div class="col-sm-6">
          <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" class="form-control" formControlName="studdate_input" placeholder="Date of Birth" >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Gender</label>
            <select class="form-control" formControlName="studgender_input" >
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" formControlName="studcity_input" placeholder="City" >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Zip Code</label>
            <input type="text" class="form-control" formControlName="studzip_input"  placeholder="Zip" >
          </div>
        </div>
        
        <div class="col-sm-12">
          <hr>
        </div>
        
        <div style="margin-top: 30px;" class="col-sm-12">
          <h2>Parents/Guardian's Information</h2>
        </div>
  
        <div class="col-sm-12">
          <label class="head-label">Father's Name</label>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="pfatherfn_input" name="" placeholder="First Name">
            <label>First Name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="pfathermn_input" name="" placeholder="Middle Name">
            <label>Last Name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="pfatherln_input" name="" placeholder="Last Name">
            <label>Middle Name</label>
          </div>
        </div>
        <div class="col-sm-12">
          <label class="head-label">Mother's Name</label>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" name="" formControlName="pmotherfn_input" placeholder="First Name" >
            <label>First Name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" name="" formControlName="pmothermn_input" placeholder="Middle Name" >
            <label>Last Name</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" name="" formControlName="pmotherln_input" placeholder="Last Name" >
            <label>Middle Name</label>
          </div>
        </div>
  
        <div class="col-sm-6">
          <div class="form-group">
            <label>Contact Number</label>
            <input type="text" class="form-control" name=""  formControlName="contact" placeholder="Parent's Contact Number" >
          </div>
        </div>
      <div class="col-sm-12"><hr></div>
      <div class="col-sm-6">
            <div class="form-group">
              <label>Classified as </label>
              <select class="form-control" formControlName="strand" id="">
                  <option value="eim">EIM</option>
                  <option value="humss">HUMSS</option>
                  <option value="tourism">TOURISM</option>
                  <option value="stem">STEM</option>
              </select>
            </div>
          </div>

      <div class="col-sm-12 text-right">
        <button class="btn btn-primary">Update</button>
        <span style="margin-right: 10px; margin-left: 5px;">or</span>
        <button class="btn btn-default" (click)="resetForm()" type="button">Reset</button>
        <button class="btn btn-default hide" (click)="test()" type="button">test</button>
      </div>
    </div>
  </form>
</div>