.custom-container {
	max-width: 900px;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 80px;
}
form {
	background: white;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 4px 4px 4px rgba(0,0,0,.14);
}
hr{
	background:#e0e0e0;
	padding: 0.5px;
	margin:10px 0;
}
.head-label{
	font-size: 16px;
}
.custom-container{
	color: black;
	size: 15px;
}