<div class="center" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_right">
        <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Pending Enrollees <small>need confirmation</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table id="datatable" class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Code</th>
                  <th>Classified As</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of students; let i = index;">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{student.studfname_input}}</td>
                  <td>{{student.studlname_input}}</td>
                  <td>{{student.ref_code}}</td>
                  <td>{{student.strand}}</td>
                  <td style="padding:0;padding-top: 2px;">
                      <div class="btn-group  btn-group-sm">
                          <button class="btn btn-primary" type="button" data-toggle="modal" data-target=".bs-example-modal-lg" (click)= "viewStudent(student)">View</button>
                          <button class="btn btn-success" type="button" data-toggle="modal" data-target=".bs-example-modal-sm" (click)= "buildData(student)">Accept</button>
                          <button class="btn btn-danger" type="button" (click)="deleteStudent(student['id'])">Discard</button>
                        </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- large modal for View -->
            <div class="modal fade bounce bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="selectedStudents" >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel"></h3>
                  </div>
                  <div class="modal-body" >
                     <div class="container-fluid">
                       <form (submit)="buildData()" [formGroup]="enrollStudentData">
                        <div class="row">
                            <div class="col-sm-12">
                              <h1>Student Information</h1>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group" style="display:inline-flex;">
                                <h2>Classified as :</h2> &nbsp;&nbsp;&nbsp; 
                                <h2>{{selectedStudents['strand']}}</h2>
                                <span>
                                  <br>
                                  <br>
                                </span>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="row">
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <label>Learner Reference No.</label>
                                    <input type="text" class="form-control" formControlName="lrn_input" placeholder="Learner Reference Number" [value]="selectedStudents['lrn_input']" required>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <label class="head-label">Name</label>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="studfname_input" placeholder="First name" [value]="selectedStudents['studfname_input']" required>
                                <label>First Name</label>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="studlname_input" placeholder="Last name" [value]="selectedStudents['studlname_input']" required>
                                <label>Last Name</label>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="studmname_input" placeholder="Middle name" [value]="selectedStudents['studmname_input']" required>
                                <label>Middle Name</label>
                              </div>
                            </div>
                      
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>Date of Birth</label>
                                <input type="date" class="form-control" formControlName="studdate_input" placeholder="Date of Birth" [value]="selectedStudents['studdate_input']" required>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control" formControlName="studgender_input" [value]="selectedStudents['studgender_input']" required>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" formControlName="studcity_input" placeholder="City" [value]="selectedStudents['studcity_input']" required>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>Zip Code</label>
                                <input type="text" class="form-control" formControlName="studzip_input"  placeholder="Zip" [value]="selectedStudents['studzip_input']" required>
                              </div>
                            </div>
                            
                            <div class="col-sm-12">
                              <hr>
                            </div>
                            
                            <div style="margin-top: 30px;" class="col-sm-12">
                              <h2>Parents/Guardian's Information</h2>
                            </div>
                      
                            <div class="col-sm-12">
                              <label class="head-label">Father's Name</label>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="pfatherfn_input" name="" placeholder="First Name" [value]="selectedStudents['pfatherfn_input']" required>
                                <label>First Name</label>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="pfathermn_input" name="" placeholder="Middle Name" [value]="selectedStudents['pfathermn_input']" required>
                                <label>Last Name</label>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="pfatherln_input" name="" placeholder="Last Name" [value]="selectedStudents['pfatherln_input']" required>
                                <label>Middle Name</label>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <label class="head-label">Mother's Name</label>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" name="" formControlName="pmotherfn_input" placeholder="First Name" [value]="selectedStudents['pmotherfn_input']" required>
                                <label>First Name</label>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" name="" formControlName="pmothermn_input" placeholder="Middle Name" [value]="selectedStudents['pmothermn_input']" required>
                                <label>Last Name</label>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" name="" formControlName="pmotherln_input" placeholder="Last Name" [value]="selectedStudents['pmotherln_input']" required>
                                <label>Middle Name</label>
                              </div>
                            </div>
                      
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>Contact Number</label>
                                <input type="text" class="form-control" name=""  formControlName="contact" placeholder="Parent's Contact Number" [value]="selectedStudents['contact']" required>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group">
                                      <hr>
                                      <h5>Data From NCAE</h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>OGSA_SC</label>
                                <input type="number" class="form-control" formControlName="ogsa_sc" placeholder="" [value]="selectedStudents['ogsa_sc']" required>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>OGSA_PR</label>
                                <input type="number" class="form-control" formControlName="ogsa_pr" placeholder="" [value]="selectedStudents['ogsa_pr']" required>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>OTVA_SC</label>
                                <input type="number" class="form-control" formControlName="otva_sc" placeholder="" [value]="selectedStudents['otva_sc']" required>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>OTVA_PR</label>
                                <input type="number" class="form-control" formControlName="otva_pr" placeholder="" [value]="selectedStudents['otva_pr']" required>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>OAT_SC</label>
                                <input type="number" class="form-control" formControlName="oat_sc"  placeholder="" [value]="selectedStudents['oat_sc']" required>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label>OAT_PR</label>
                                <input type="number" class="form-control" formControlName="oat_pr"  placeholder="" [value]="selectedStudents['oat_pr']" required>
                              </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        <hr>
                                        <h5>Data From Report Card</h5>
                                    </div>
                                  </div>
                                </div>
                            </div>   
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label>Average Grade</label>
                                  <input type="number" class="form-control"  formControlName="average"  placeholder="" [value]="selectedStudents['average']" required>
                                </div>
                            </div>
                        </div>
                      </form>
                     </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- small modal for code-->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true"  *ngIf="selectedStudents">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Reference Code</h4>
                  </div>
                  <form [formGroup]="referenceCodeForm" (submit)="acceptStudent()">
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="col-sm-6">
                              <div class="form-group">
                                <label>Name: </label>
                                <div style="display:inline-flex;">
                                  &nbsp;&nbsp;
                                  <label>{{selectedStudents['studfname_input']}}</label>
                                  &nbsp;
                                  <label>{{selectedStudents['studlname_input']}}</label>
                                </div>
                              </div>
                              <div class="form-group">
                            <label>Classified as: </label>
                            <div style="display:inline-flex;">
                                &nbsp;&nbsp;
                                <label>{{selectedStudents['strand']}}</label>
                            </div>
                                </div>
                          </div>
                          <input formControlName="code" class="form-control" type="text" id="ref_code" placeholder="Reference Code">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary">Accept Student</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
