<div>

	<div class="login_wrapper">
	  <div class="animate form login_form">
		<section class="login_content">
		  <form [formGroup]="form" (submit)='login()'>
			<h1>Login Form</h1>
			<div>
			  <input type="text" class="form-control" placeholder="Username" formControlName='username' />
			</div>
			<div>
			  <input type="password" class="form-control" placeholder="Password" formControlName='password' />
			</div>
			<div>
			  <button class="btn btn-default submit">Log in</button>
			  <a class="reset_pass" href="#">Lost your password?</a>
			</div>

			<div class="clearfix"></div>
			<div class="separator">
			  <div class="clearfix"></div>
			  <br />

			  <div>
				<p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
			  </div>
			</div>
		  </form>
		</section>
	  </div>
	</div>
  </div>