<app-guess-nav></app-guess-nav>
<div>

    <div class="login_wrapper">
      <div class="animate form login_form">
      <section class="login_content">
        <form [formGroup]="form" (submit)="submit()"> 
        <h1>Fill up Form</h1>
        <div>
          <input type="text" class="form-control" placeholder="Learner Reference Number" formControlName='lrn_number' />
        </div>
        <div>
          <input type="text" class="form-control" placeholder="First Name" formControlName='firstname' />
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Last Name" formControlName='lastname' />
        </div>
        <div>
          <input type="date" class="form-control" formControlName='birthdate' style="margin:0 0 20px;"/>
        </div>
        <div>
          <button class="btn btn-success submit" style="padding:10px 20px;
          outline:0;
          border:0;
          border-radius: 1;">Find</button>
        </div>
  
        <div class="clearfix"></div>
        <div class="separator">
          <div class="clearfix"></div>
          <br />
  
          <div>
            <p>
                <span class="fa fa-warning"></span>  Note 
            </p>

            <p> All Information provided above must be exact and correct </p>
            <p> Careful with the small and big letters in the information </p>
          </div>
        </div>
        </form>
      </section>
      </div>
    </div>
    </div>