.custom-container {
	max-width: 900px;
	margin: auto;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 60%;
}
form {
	background: white;
	border-radius: 5px;
	padding: 30px;
}
hr{
	background:#e0e0e0;
	padding: 0.5px;
}