<div class="custom-container">
    <form (submit)="submit()" class="needs-validation form-horizontal" novalidate [formGroup]="form">
      <div class="row">
        <div class="col-sm-12">
          <h1>Strand Classifier</h1>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Gender</label>
                <select class="form-control" formControlName="gender" required>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                  <hr>
                  <h5>Data From NCAE</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>OGSA_SC</label>
            <input type="number" class="form-control" formControlName="ogsa_sc" placeholder="" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>OGSA_PR</label>
            <input type="number" class="form-control" formControlName="ogsa_pr" placeholder="" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>OTVA_SC</label>
            <input type="number" class="form-control" formControlName="otva_sc" placeholder="" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>OTVA_PR</label>
            <input type="number" class="form-control" formControlName="otva_pr" placeholder="" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>OAT_SC</label>
            <input type="number" class="form-control" formControlName="oat_sc" placeholder="" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>OAT_PR</label>
            <input type="number" class="form-control" formControlName="oat_pr" placeholder="" required>
          </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                    <hr>
                    <h5>Data From Report Card</h5>
                </div>
              </div>
            </div>
        </div>   
        <div class="col-sm-6">
            <div class="form-group">
              <label>Average Grade</label>
              <input type="number" class="form-control" formControlName="average" placeholder="" required>
            </div>
        </div>
        <div class="col-sm-12 text-right">
          <button class="btn btn-primary" type="submit">Classify</button>
          <button class="btn btn-default" (click)="resetForm()" type="button">Resest</button>
        </div>
      </div>
    </form>
  </div>
  