.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
}

.modal-content {
    width: 500px;
    margin: auto;
    margin-top: 13%;
    background: white;
    padding: 15px;
    border-radius: 4px;
}

