<div *ngIf="isOpen" class="modal-wrapper">
    <div class="modal-content">
       
        <div class="modal-header">
            <button (click)="close()" class="btn btn-default btn-xs pull-right">
                <i class="fa fa-close"></i>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Reference Code</h4>
        </div>
        <div class="clearfix"></div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="col-md-12">
                    <p>Provide copy on this code and present to the Enrollment Staff</p>
                </div> 
                <div class="col-md-12" style="text-align:center">
                    <h2>{{code}}</h2>
                </div>
                
            </div>
        </div>
    </div>
</div>