<div class="center" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_right">
          <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
            <div class="input-group sortControl">
              <select class="form-control" (change)="sort($event)" placeholder="Sort">
                <option value="" disabled selected hidden>Sort</option>
                <option value="studlname_input">Last Name</option>
                <option value="studcity_input">Address</option>
                <option value="strand">Strand</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Enrolled Students <small></small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table id="datatable" class="table table-hover sortable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Strand</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let students of enrolledStudents; let i = index;">
                  <tr >
                    <th scope="row">{{i + 1}}</th>
                    <td>{{students.studfname_input}}</td>
                    <td>{{students.studlname_input}}</td>
                    <td>{{students.studgender_input}}</td>
                    <td>{{students.studcity_input}}</td>
                    <td>{{students.strand}}</td>
                    <td style="padding:0;padding-top: 2px;">
                        <div class="btn-group  btn-group-sm">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target=".bs-example-modal-lg" >View</button>
                            <button class="btn btn-danger" type="button"  data-toggle="modal" data-target=".bs-example-modal-sm" (click)="discard(students['id'])" >Discard</button>
                          </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- small modal for code-->
              <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
  
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                      </button>
                      <h2 class="modal-title" id="myModalLabel2">Delete</h2>
                    </div>
                      <div class="modal-body" style="text-align:center">
                        <h4>Do you want to delete this student ?</h4>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default" (click)="deleteStudent()" data-dismiss="modal">Yes</button>
                        <button class="btn btn-primary" data-dismiss="modal">No</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
