<app-guess-nav></app-guess-nav>
<div class="custom-container">
  <form (submit)="submit()" class="needs-validation form-horizontal" novalidate [formGroup]="form">
    <div class="row">
      <div class="col-sm-12">
        <h1>Student Information</h1>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <span>
            <br>
            <br>
          </span>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Learner Reference No.</label>
              <input type="text" class="form-control" formControlName="lrn_input" placeholder="Learner Reference Number" required>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <label class="head-label">Name</label>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="studfname_input" placeholder="First name" required>
          <label>First Name</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="studlname_input" placeholder="Last name" required>
          <label>Last Name</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="studmname_input" placeholder="Middle name" required>
          <label>Middle Name</label>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Date of Birth</label>
          <input type="date" class="form-control" formControlName="studdate_input" placeholder="Date of Birth" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Gender</label>
          <select class="form-control" formControlName="studgender_input" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" formControlName="studcity_input" placeholder="Address" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Zip Code</label>
          <input type="text" class="form-control" formControlName="studzip_input" placeholder="Zip" required>
        </div>
      </div>
      
      <div class="col-sm-12">
        <hr>
      </div>
      
      <div style="margin-top: 30px;" class="col-sm-12">
        <h2>Parents/Guardian's Information</h2>
      </div>

      <div class="col-sm-12">
        <label class="head-label">Father's Name</label>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="pfatherfn_input" name="" placeholder="First Name" required>
          <label>First Name</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="pfathermn_input" name="" placeholder="Middle Name" required>
          <label>Last Name</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="pfatherln_input" name="" placeholder="Last Name" required>
          <label>Middle Name</label>
        </div>
      </div>
      <div class="col-sm-12">
        <label class="head-label">Mother's Name</label>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="pmotherfn_input" name="" placeholder="First Name" required>
          <label>First Name</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="pmothermn_input" name="" placeholder="Middle Name" required>
          <label>Last Name</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="pmotherln_input" name="" placeholder="Last Name" required>
          <label>Middle Name</label>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Contact Number</label>
          <input type="text" class="form-control" formControlName="contact" name="" placeholder="Parent's Contact Number" required>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
                <hr>
                <h5>Data From NCAE</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>OGSA_SC</label>
          <input type="number" class="form-control" formControlName="ogsa_sc" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>OGSA_PR</label>
          <input type="number" class="form-control" formControlName="ogsa_pr" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>OTVA_SC</label>
          <input type="number" class="form-control" formControlName="otva_sc" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>OTVA_PR</label>
          <input type="number" class="form-control" formControlName="otva_pr" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>OAT_SC</label>
          <input type="number" class="form-control" formControlName="oat_sc" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>OAT_PR</label>
          <input type="number" class="form-control" formControlName="oat_pr" placeholder="" required>
        </div>
      </div>
      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                  <hr>
                  <h5>Data From Report Card</h5>
              </div>
            </div>
          </div>
      </div>   
      <div class="col-sm-6">
          <div class="form-group">
            <label>Average Grade</label>
            <input type="number" class="form-control" formControlName="average" placeholder="" required>
          </div>
      </div>
      <div class="col-sm-12 text-right">
        <button class="btn btn-primary">Register</button>
        <span style="margin-right: 10px; margin-left: 5px;">or</span>
        <button class="btn btn-default" (click)="resetForm()" type="button">Resest</button>
      </div>
    </div>
  </form>
</div>

<app-modal [(isOpen)]="isOpen" [(code)]="code" [(open)]="openFunction"></app-modal>
