<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Form Design <small>different form elements</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" [formGroup]= "form" (submit)="submit()">

          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="First Name" formControlName = "firstname" required>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Last Name" formControlName = "lastname" required>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Middle Name" formControlName = "middlename" required>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Employee ID Number" formControlName = "idnumber" required>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Email" formControlName = "email" required>
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Password"formControlName = "password" required>
              <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
              <button class="btn btn-primary" type="button">Cancel</button>
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="btn btn-success" >Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>