<div class="topnav navbar-fixed-top guessNav">
  <a href="http://localhost/thesis/landing-page">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>