    <div class="container body">
      <div class="main_container">

        <app-sidebar></app-sidebar>

        <app-navbar></app-navbar>

        <!-- page content -->
        <div class="right_col" role="main">

          <router-outlet></router-outlet>
          
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <!--
          <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a>Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        -->
        
        <!-- /footer content -->
      </div>
    </div>

